<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="4.0">
  <servlet>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.example.calendar.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/calendar</url-pattern>
  </servlet-mapping>
</web-app>
